
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family: "Poppins", serif;
  }

body {
    background-color: #920505;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    background-color: hsla(0, 99%, 43%, 0.747);
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
 }

.navigation ul{
    list-style: none;
    display: flex;
    gap: 5rem ;
    background: none;
    margin-right: 40px;
    padding: 10px;
    shadow: 0px 0px 8px rgb(0, 0, 0);
    font-size: 26px;
    width: -60px;
    font-size: 50px;
    gap: 100px;
}
.navigation a {
    text-decoration: underline;
    color: #eeeeee;
    width: 140px;
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0px 0px 8px whitesmoke;
    font-weight: bold;
    transition: 1s;
}

.navigation a:hover {
    color: #2b08f7;
    box-shadow: 0px 0px 12px #000000;
}
hr {
    opacity: 19%;
}
header img {
    width: 190px;
    float: left;
    margin-left: 20px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 3px 0px 20px black;
    padding: 5px;
}
id img1 {
    list-style: none;
    display: flex;
    gap: 5px ;
    background-color: none;
    margin-left: 130px;
    margin-right: 1590px;
    padding: 5px;
    box-shadow: 0px 0px 12px #fffafa;
    color: #eeeeee;
    margin-top: 100px;
    font-size: 50px;
}

id img1:hover {
    color: #08b9ff;
    box-shadow: 0px 6px 16px #ffffff44;
    transition: 1s;
}
id img2 {
    list-style: none;
    display: flex;
    gap: 1rem;
    background: none;
    margin-left: 50px;
    margin-right: 1050px;
    padding: 20px;
    box-shadow: 0px 0px 8px whitesmoke; 
    color: #eeeeee;
    margin-top: 30px;
    font-size: 30px;
}
id img2:hover {
    color: #05b0b0;
    box-shadow: 0px 0px 16px #fffafa;
    transition: 1s;
    font-family: "Poppins", serif;
}

id h1 {
    color: #eeeeee;
    text-align: center;
    margin-top: -660px;
    font-size: 55px;
    text-shadow: 0px 0px 8px #000000;
    font-family: "Poppins", serif;
    box-shadow: 0px 0px 8px whitesmoke;
    background: none;
    margin-left: 500px;
    margin-right: 500px;
}
id h1:hover {
    color: #05b0b0;
    box-shadow: 0px 0px 16px #000000;
    transition: 1s;
}
id h2 {
    color: #eeeeee;
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
    text-shadow: 0px 0px 8px #000000;
    font-family: "Poppins", serif;
    box-shadow: 0px 0px 8px whitesmoke;
    background-color: none;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 10%;
}
id h2:hover {
    color: #05b0b0;
    box-shadow: 0px 0px 16px #000000;
    transition: 1s;
}
id img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 1130px;
    margin-top: 350px;
    padding: 10px;
    box-shadow: 0px 10px 26px rgb(0, 0, 0);
    background-color: red;
    margin-right: 200px;
}

@media (max-width: 1023px) {
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .heroImg {
    width: 400px;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutMe {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .textContainer {
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
  }
  .aboutName,
  .aboutTitle {
    font-size: 2rem;
  }
  .light {
    width: 60px;
  }
  .aboutMeImg {
    width: 400px;
  }
  .works {
    padding: 0;
  }
  .worksContainer {
    padding: 5rem 0rem;
    gap: 3rem;
  }
  .projectTitle {
    margin-left: 1rem;
  }
  .works ul {
    flex-direction: column;
    gap: 1rem;
  }
  .contactContainer {
    margin: 10rem 5rem;
    gap: 2rem;
  }
  .contact {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
  }
}